
@{
    ViewBag.Title = "Marca";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">Mantenimiento</a></li>
    <li class="breadcrumb-item active">Marca</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-users me-1"></i> Lista de Marca
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" onclick="abrirModal(null)"><i class="fas fa-plus"></i> Crear Nuevo</button>
            </div>
        </div>
        <hr />
        <table id="tabla" class="table display table-striped cell-border" style="width:100%">
            <thead class="table-secondary">
                <tr>
                    <th>Descripcion</th>
                    <th>Activo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Marca</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input id="txtID" type="hidden" value="0" />
                <div class="row g-1">

                    <div class="col-sm-6">
                        <label for="txtDescripcion" class="form-label">Descripcion</label>
                        <input type="text" class="form-control" id="txtDescripcion" autocomplete="off" />
                    </div>

                    <div class="col-sm-6">
                        <label for="cboActivo" class="form-label">Activo</label>
                        <select id="cboActivo" class="form-select">
                            <option value="1">Si</option>
                            <option value="0">No</option>
                        </select>

                    </div>
                </div>
                <div class="row">
                    <!-- Mensaje Alerta -->
                    <div class="col-12 mt-2">
                        <div id="msgError" class="alert alert-danger" role="alert">
                            Una simple alerta danger: ¡échale un vistazo!
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar cambios</button>
            </div>
        </div>
    </div>
</div>

@section scripts {

    <script>
        var tabladata;
        var filaSelect;

        tabladata = $("#tabla").DataTable({
            responsive: true,
            ordering: false,
            "ajax": {
                url: '@Url.Action("ListarMarcas", "Mantenedor")',
                type: "GET",
                dataType: "json"
            },
            "columns": [
                {"data":"Descripcion"},
                {
                    "data": "Activo", "render": function (valor) {
                        if (valor) {
                            return '<span class="badge bg-success">Si</span>';
                        } else {
                            return '<span class="badge bg-danger">No</span>';
                        }
                    }
                },
                {
                    "defaultContent": '<button type="button" class="btn btn-primary btn-sm btn-edit"><i class="fas fa-pen"></i></button>' +
                        '<button type="button" class="btn btn-secondary btn-sm ms-2 btn-delet"><i class="fas fa-trash"></i></button>',
                    "orderable": false,
                    "searchable": false,
                        "width": "90px"
                }
            ],
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.5/i18n/es-ES.json',
            },
        });

        function abrirModal(json) {

            $("#txtID").val(0);
            $("#txtDescripcion").val("");
            $("#cboActivo").val(1);
            $("#msgError").hide();

            if (json != null) {
                $("#txtID").val(json.IdMarca);
                $("#txtDescripcion").val(json.Descripcion);
                $("#cboActivo").val(json.Activo == true ? 1 : 0);
            }

            $("#FormModal").modal("show");
        }

        $("#tabla tbody").on("click", '.btn-edit', function () {
            filaSelect = $(this).closest("tr");

            var data = tabladata.row(filaSelect).data();
            console.log(data);
            abrirModal(data);
        })

        $("#tabla tbody").on("click", '.btn-delet', function () {
            var marcaSelect = $(this).closest("tr");

            var data = tabladata.row(marcaSelect).data();

            swal({
                title: "¿Estas Seguro?",
                text: "Desea eliminar la marca?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-primary",
                confirmButtonText: "Si",
                cancelButtonText: "No",
                closeOnConfirm: true
            },
            function () {

                jQuery.ajax({
                    url: '@Url.Action("EliminarMarca", "Mantenedor")',
                    type: "POST",
                    data: JSON.stringify({ id: data.IdMarca }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {

                        if (data.resultado) {

                            tabladata.row(marcaSelect).remove().draw();
                        } else {
                            swal("No se pudo eliminar", data.mensaje, "error")
                        }

                    },
                    error: function (error) {
                        console.log(error);
                    }

                });

            });

            console.log(data);

        })

        function Guardar() {
            var Marca = {
                IdMarca: $("#txtID").val(),
                Descripcion: $("#txtDescripcion").val(),
                Activo: $("#cboActivo").val() == 1 ? true : false,

            }

            jQuery.ajax({
                url: '@Url.Action("GuardarMarca", "Mantenedor")',
                type: "POST",
                data: JSON.stringify({ objeto: Marca }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    $(".modal-body").LoadingOverlay("hide");

                    // MARCA NUEVO
                    if (Marca.IdMarca == 0) {
                        if (data.resultado != 0) {
                            Marca.IdMarca = data.resultado;
                            tabladata.row.add(Marca).draw(false);
                            $("#FormModal").modal("hide");
                        } else {
                            $("#msgError").text(data.mensaje);
                            $("#msgError").show();
                        }
                    }

                    // CATEGORIA EDITAR
                    else {
                        if (data.resultado) {
                            tabladata.row(filaSelect).data(Marca).draw(false);
                            filaSelect = null;
                            $("#FormModal").modal("hide");
                        } else {
                            $("#msgError").text(data.mensaje);
                            $("#msgError").show();
                        }

                    }

                },
                error: function (error) {
                    $(".modal-body").LoadingOverlay("hide");
                    $("#msgError").text("Error Ajax");
                    $("#msgError").show();
                },
                beforeSend: function () {
                    $(".modal-body").LoadingOverlay("show", {
                        imageResizeFactor: 2,
                        text: "Enviando datos...",
                        size: 14
                    })
                }
            });

        }

    </script>
}

